body{
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f5f5f7;
}

h1{
    width: 171px;
    height: 46px;
    left: 80px;
    top: 33px;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
}

ul{
    list-style: none;
    padding-left: 0px;
}

input,
button{
	border:none;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
    box-shadow: none;
}