header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 2vw;
    height: 16vh;
    font-size: 6vh;
}

header > h1 {
    display: inline;
}

header > i {
    cursor: pointer;
}