menu {
    position: absolute;
    top: 0;
    background-color: #fff;
    right: -20%;
    width: 20%;
    height: 100vh;
    transition: 1s;
}

menu > section#menu-frame {
    background-color: white;
    width: 80%;
    margin: 10vh auto 0;
}

menu > section#menu-frame > div.menu-header {
    text-align: right;
    margin:0.4vw;
}

menu > section#menu-frame > div.menu-header > i {
    cursor: pointer;
}

menu > section#menu-frame > div.menu-content {
    background-color: #F0FAE9;
    width: 100%;
}

/* log-frame */
ul.menu-log-frame > li {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 2vw);
    height: 10vh;
    padding:1vw 2vh;
}

ul.menu-log-frame > li > div.menu-log-textarea {
    width: 90%;
}

ul.menu-log-frame > li > div.menu-log-textarea > h1 {
    margin: 1.2vh 0;
    font-size: 1.6vh;
}

ul.menu-log-frame > li > div.menu-log-textarea > h2 {
    margin: 0 0 .9vh;
    font-size: 1.3vh;
}

ul.menu-log-frame > li > div.menu-log-textarea > h3 {
    margin: .9vh 0;
    font-size: 1vh;
    color: #B5BFAE;
}