section > div.section-header {
    position: relative;
    width: 100%;
    padding: 0.8vh;
    font-size: 2.2vh;
    font-weight: 700;
}

/* section-header */

section > div.section-header > span {
    padding:0.1vw .5vw 0;
    background-color: #BDBDBD;
    border-radius: 50%;
}

section > div.section-header > div.button-area {
    position: absolute;
    top: 0.8vh;
    right: 0.8vh;
}

section > div.section-header > div.button-area > i {
    cursor: pointer;
    text-align: right;
    font-size: 80%;
    margin: 0 0.4vw;
}

section > div.section-header > div.button-area > i.fa-plus:hover {
    color: #0075de;
}

section > div.section-header > div.button-area > i.fa-xmark:hover {
    color: #ff4343;
}

/* card */
section > div.card-frame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1vh 0;
    width: 100%;
    padding: 2vh 1vh;
    background-color: #fff;
    border-radius: .5vw;
}

section > div.card-frame > h1 {
    position: relative;
    font-weight: 700;
    font-size: 2vh;
}

section > div.card-frame > h1 > i{
    position: absolute;
    right: 2vh;
    cursor: pointer;
} 

section > div.card-frame > h2 {
    font-weight: 500;
    font-size: 1.7vh;
}

section > div.card-frame > h3 {
    font-weight: 300;
    font-size: 1.4vh;
}

/* new card register */
section > div.card-frame.card-register-form {
    display: none;
    height: 14.5vh;
}

section > div.card-frame > input, textarea {
    border: none;
    outline: none;
}

section > div.card-frame > input.new-card-title {
    font-size: 2vh;
    font-weight: 700;
}

section > div.card-frame > textarea.new-card-content {
    resize: none;
    height: 8vh;
    font-size: 1.7vh;
    font-weight: 500;
}

section > div.card-frame > div.card-button-area {
    display: block;
    align-items: center;
    justify-content: space-between;
    height: 40%;
}

section > div.card-frame > div.card-button-area > button {
    border: none;
    border-radius: .3vw;
    width: 45%;
    padding: .8vh 0;
    cursor: pointer;
    font-size: 1.7vh;
}

section > div.card-frame > div.card-button-area > button#register-cancel-button {
    margin-left: 2.5%;
    color: #828282;
    background-color: #e0e0e0;
}

section > div.card-frame > div.card-button-area > button#register-cancel-button:hover {
    margin-left: 2.5%;
    color: #fff;
    background-color: #828282;
}

section > div.card-frame > div.card-button-area > button#register-accept-button {
    margin-right: 2.5%;
    cursor: default;
    color: rgba(255, 255, 255, 0.4);
    background-color: #86c6ff;
}

section > div.card-frame > div.card-button-area > button#register-accept-button:enabled {
    margin-right: 2.5%;
    color: #fff;
    background-color: #0075de;
    cursor: pointer;
}

section > div.card-frame > div.card-button-area > button#register-accept-button:enabled:hover {
    margin-right: 2.5%;
    color: #fff;
    background-color: #005298;
    cursor: pointer;
}