.TitleSection{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2%;
}

.MainTitle{
    display: inline;
    margin-left: 5%;
    color: #010101;
}

.MenuButton{
    display: block;
    margin: auto;
    margin-left: auto;
    margin-right: 5%;
    width: 17px;
    height: 11px;
    left: 12.5%;
    right: 16.67%;
    top: 29.17%;
    bottom: 25%;
    color: #010101;
    cursor: pointer;
}

.ColumnSection{
    margin-left: 5%;
}

.ColumnList{
    margin-right: 2%;
    float: left;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
}

.ColumnList > div.ColumnHead{
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;

    padding: auto;

    display: flex;
    align-items: center;

    color: #010101;
}

.ColumnList > div.ColumnHead > div.ColumnTitle{
    height: 26px;
    
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    
    display: flex;
    align-items: center;
    
    color: #010101;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.ColumnList > div.ColumnHead > div.ColumnTitle > span.CardCount{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    
    width: 26px;
    height: 26px;
    
    background: #BDBDBD;
    border-radius: 20px;
    margin-left: 8px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.ColumnList > div.ColumnHead > div.ButtonGroup{
    width: 114px;
    height: 26px;
    
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #bdbdbd;
    
    display: flex;
    margin-left: auto;
    align-items: center;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.ColumnList > div.ColumnHead > div.ButtonGroup > i.fa-plus{
    margin-left: auto;
}

.ColumnList > div.ColumnHead > div.ButtonGroup > i.fa-xmark{
    margin-left: 20px;
    margin-right: 20px;
}

.ColumnList > div.ColumnCards{
    display: block;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    margin: 20px 0px 20px 0px;

    width: 308px;
    height: 108px;

    background: #FFFFFF;

    box-shadow: 0px 1px 30px rgba(224, 224, 224, 0.3);
    border-radius: 6px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.ColumnList > div.ColumnCards > div.CardTitle{
    height: 23px;
    display: flex;

    font-weight: 700;
    font-size: 16px;
    line-height: 23px;

    color: #010101;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.ColumnList > div.ColumnCards > div.CardTitle > i.fa-xmark{
    display: flex;
    margin-left: auto;
    align-items: flex-start;
    color: #828282;
}

.ColumnList > div.ColumnCards > div.CardBody{
    width: 252px;
    height: 70px;
    display: flex;

    align-items: center;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    
    color: #010101;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.ColumnList > div.ColumnCards > div.CardAuthor{
    width: 252px;
    height: 17px;
    display: flex;

    font-weight: 400;
    font-size: 12px;
    line-height: 17px;

    color: #BDBDBD;
    
    flex: none;
    order: 2;
    flex-grow: 0;
}

.ColumnList > div.NewCard{
    display: block;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    margin: 20px 0px 20px 0px;
    
    width: 308px;
    height: 139px;
    
    background: #FFFFFF;
    
    border: 1px solid #0075DE;
    
    box-shadow: 0px 1px 30px rgba(224, 224, 224, 0.3);
    border-radius: 6px;
}

.ColumnList > div.NewCard > div.CardTitle > input{
    width: 276px;
    height: 23px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    margin: 0px 0px 10px 0px;
    
    color: #010101;
    border: none;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.ColumnList > div.NewCard > div.CardBody > textarea{
    width: 276px;
    height: 48px;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0px 0px 10px 0px;
    
    border: none;
    resize: none;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.ColumnList > div.NewCard > div.CardButton{
    display: flex;
}

.ColumnList > div.NewCard > div.CardButton > button.CardCancel{
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    
    width: 134px;
    height: 40px;
    
    background: #E0E0E0;
    border-radius: 6px;
    cursor: pointer;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    color: #828282;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.ColumnList > div.NewCard > div.CardButton > button.CardRegister{
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    
    width: 134px;
    height: 40px;
    
    margin-left: auto;
    background: #86C6FF;
    border-radius: 6px;
    cursor: default;

    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    color: rgba(255, 255, 255, 0.4);
    
    flex: none;
    order: 1;
    flex-grow: 0;
}