body {
  background-color: #f2f2f5;
  height: 100%;
  width: 100%;
}

#main-container {
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

#header {
  height: 10%;
  width: 100%;
  border: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  height: 100%;
  font-size: 50px;
  line-height: 90px;
  text-align: center;
  margin-left: 2vh;
}

.header-right-button {
  height: 50%;
  margin-right: 10px;
}

#todo-container {
  background-color: blue;
  height: 90%;
  display: flex;
  align-items: stretch;
  justify-items: stretch;
}
#todo-container > * {
  width: 0;
  flex-grow: 1;
}

.todo-todo {
  background-color: aqua;
}

.todo-todo-header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.todo-text-wrapper {
  margin-left: 10px;
}

.todo-button-wrapper {
  margin-right: 10px;
}

.todo-doing {
  background-color: red;
}

.todo-done {
  background-color: violet;
}

.todo-empty {
  background-color: tomato;
}
