@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: lighter;
    font-style: normal;
}

body{
    background-color:rgb(239, 230, 230);
    font-family: 'OTWelcomeRA';
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li.icon {
    flex-basis: 25%;
}
 
p {
    font-size:15px;
}

#_col_elem{
    display:flex;
    flex-direction:column;
    background-color:white;
    width:200px;
    padding:20px 10px;
    margin:2%;
    font-size:12px;
    border-radius:10px;
}

._row_elem{
    display:flex;
    flex-direction:column;
    padding : 0px 10px 10px 10px;
}

#_header{
    display:flex;
    width:100%;
    padding:15px;
    font-size:20px;
    margin:0;
}

._todo_table{
    display:flex;
    flex-direction:row;
}

#_col_header{
    display:flex;
    justify-content:space-between;
    width:200px;
    padding:0px 15px 0px 15px;
    font-size:15px;
    margin:10;
}

#_elem_header{
    display:flex;
    justify-content:space-between;
    font-size:14px;
    width:180px;
}

.top_button {
    display:inline-block;
    vertical-align:middle;
    background-color:transparent;
    border-color: transparent;
    margin-left:auto;
	font-size:30px;
    padding : 0px;
	text-decoration:none;
}

.my_button{
	font-weight:bold;
	text-decoration:none;
    background-color:transparent;
    border-color: transparent;
    font-size:20px;
    font-weight: lighter;
    margin :20px 0px 0px 0px;
}

.my_button_2{
    margin-right:auto;    
    background-color:transparent;
    border-color: transparent;
	font-weight:lighter;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
    margin :-5px;
}