#Title{
    font-size : 2.5em;
    padding : 40px;
    padding-left : 8px;
}
TodoList{
    display : inline-block;
    font-size : 1.2em;
    margin-right : 0;
    font-weight : bold;

}
TodoItem{
    display: block;
    font-size: 1.17em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top : 20px;
}
ul1{
    display : flex;
    flex-direction : column;
    vertical-align: top;
    margin:10px;
}
.flex_row{
    display : flex;
    flex-direction: row;
    flex-wrap : wrap;
}
ul{
    display :flex;
    flex-direction : column;
    text-align : left;
    border : solid;
    border-color : white;
    background-color : white;
    border-radius : 5px;
    padding-left : 10px;

}
#author_by_web{
    font-size : 5px;
    color : gray;
    padding-top : 10px;
    padding-bottom : 10px;
}
li{
    list-style:none;
    padding-top : 5px;
    padding-bottom : 5px;
}
.flex_between{
    width : 350px;
    display : flex;
    flex-direction : row;
    flex-wrap : wrap;
    justify-content : space-between;
}
#circle{
    width:30px;
    height : 30px;
    background-color : gray;
    border-color : gray;
    border-radius : 50%;
    margin-left : 10px;
    text-align : center;
    line-height : 30px;
    color : black;
    margin-bottom : 5px;
}
button{
    background-color : none;
    background : transparent;
    border : none;
    font-size : 25px;
    color : gray;
}
.plus_todo{
    display : flex;
    flex-direction: row;
    width : 400px;
    height : 100px;
    display :flex;
    flex-direction : column;
    text-align : left;
    border : solid;
    border-color : blue;
    background-color : white;
    border-radius : 5px;
    padding : 10px;
    margin : 10px;
}
.plus_button_cancel{
    background-color: gray;
    margin : 10px;
    width : 130px;
    height : 50px;
    border : none;
    border-radius : 10px;
    font-size : 20px;
    color : white;
}
.plus_button_join{
    background-color: skyblue;
    margin : 10px;
    width : 130px;
    height : 50px;
    border : none;
    border-radius : 10px;
    font-size : 20px;
    color : white;
    
}
.plus_button_between{
    display : flex;
    flex-direction : row;
    flex-wrap : wrap;
    justify-content : space-between;
}
.input_title{
    border : "none";
    border-right : 0px;
    border-top : 0px;
    border-left : 0px;
    border-bottom : 0px;
    border-color : white;
}
.input_context{
    border : "none";
    border-right : 0px;
    border-top : 0px;
    border-left : 0px;
    border-bottom : 0px;
    border-color : white;
}