body > header {
    padding: 30px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body > header > h1 {
    font-weight: normal;
    margin: 0;
}

body > header > nav {
    width: 0;
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    transition: 0.5s;
    overflow-x: hidden;
}

body > header > button {
    width: 50px;
    height: 50px;
    border: none;
    padding: 0;
}

body > header > nav {
    background: white;
    box-shadow: 0 0 4px rgba(204, 204, 204, 0.5), 0 2px 4px rgba(0, 0, 0, 0.25);
}

body > header > nav > header {
    text-align: right;
    margin: 50px 50px 10px 0;
    width: 350px;
}

body > header > nav > * {
    margin: 20px 50px;
    overflow-x: hidden;
}

body > header > nav > header > button {
    width: 30px;
    height: 30px;
    border: none;
}

body > header > nav > div {
    display: flex;
    width: 300px;
}

body > header > nav > div > div:first-child {
    margin-right: 10px;
    font-size: xx-large;
}

body > header > nav h4 {
    margin: 0 0 10px 0;
    font-weight: lighter;
}

body > header > nav p {
    font-size: small;
    font-weight: lighter;
}