[data-component="Header"] {
    padding: 30px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: linear-gradient(#F5F5F7 80%, transparent);
    z-index: 90;
}

[data-component="Header"] > h1 {
    font-weight: normal;
    margin: 0;
}

#sidebar_open_btn {
    background: transparent;
    width: 50px;
    height: 50px;
    border: none;
    padding: 0;
}

.sidebar-opened #sidebar {
    width: 400px !important;
}

#sidebar {
    height: 100vh;
    width: 0;
    background: white;
    box-shadow: 0 0 4px rgba(204, 204, 204, 0.5), 0 2px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    right: 0;
    transition: 0.5s;
    overflow-x: hidden;
    z-index: 99;
}

#sidebar header {
    text-align: right;
    margin: 50px 50px 10px 0;
    width: 350px;
}

#sidebar_close_btn {
    background: transparent;
    width: 30px;
    height: 30px;
    border: none;
}

#sidebar > * {
    margin: 20px 50px;
    overflow-x: hidden;
}

#sidebar ul {
    height: calc(100vh - (90px * 2));
    list-style: none;
    padding: 0;
    -ms-overflow-style: none;
}

#sidebar ul::-webkit-scrollbar {
    display: none;
}

#sidebar_wrapper {
    position: absolute;
    width: 0;
    height: 0;
}

#sidebar_bgbtn {
    border: none;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    padding: 0;
    height: 100vh;
    z-index: 98;
}

.sidebar-opened #sidebar_bgbtn {
    width: 100% !important;
}